@import "tailwindcss";

@theme {
  --color-border-sidebar: #e5e5e5;
  --color-bg-pink: #edd9d6;
  --color-pink-2: #c4847c;
  --color-pink-primary: #b27871;

  --font-playfair: "Playfair Display", serif;
}
:root {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  font-family: var(--font-sans);
}

.font-serif {
  font-family: var(--font-serif);
}
